[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
mypy = "*"
"boto3" = "*"
python-dotenv = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
